/packer/variables.pkr.hcl
/packer/server/user-data


terraform/Iaac/terraform.tfstate
terraform/IaaC/terraform.tfstate.backup
terraform/IaaC/terraform.tfvars
terraform/Iaac/.terraform/
terraform/Iaac/.terraform.lock.hcl
terraform/Iaac/variables.tf
