/packer/variables.pkr.hcl
/packer/server/user-data


terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/variables.tf
