/packer/variables.pkr.hcl
/packer/server/user-data


terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/variables.tf

dns-pihole/create_ansible_inv_dns_files.py
dns-pihole/create_dns-pi-home-entries.py
dns-pihole/dns_entries.txt

ansible/inventory.ini
ansible/join_command.out